# 숫자형

In [21]:
# 정수형(integer)

a = 123
a = -178
a = 0

In [22]:
#  실수형(Floating-point)

a = 1.2
a = 3.45

In [23]:
a = 4.24E10         # 4.24 * 10**10
a = 4.24e-10       # 4.24 * 10**-10

In [24]:
# 8진수와 16진수

# 8진수(Octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)로 시작하면 된다.

a = 0o177

# 16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.

a = 0x8ff
b = 0xABC

In [25]:
# 사칙연산

a = 3
b = 4
a+b

a*b

a/b

0.75

In [26]:
# x의 y제곱을 나타내는 ** 연산자

a = 3
b = 4
a ** b

81

In [27]:
# 나눗셈 후 나머지를 반환하는 % 연산자

7 % 3
3% 7

3

In [28]:
# 나눗셈 후 몫을 반환하는 // 연산자

7 / 4

7 // 4

1

# 문자열 자료형

In [36]:
"Hello World"

'Hello World'

In [37]:
'Python is fun'

'Python is fun'

In [38]:
"""Life is too short, You need python"""

'Life is too short, You need python'

### 1. 문자열에 작은따옴표 (') 포함시키기

In [40]:
# Python's favorite food is perl

In [42]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [43]:
food = 'Python's favorite food is perl'
food

SyntaxError: invalid syntax (<ipython-input-43-505ab2258aa9>, line 1)

### 2. 문자열에 큰따옴표(")포함시키기

In [46]:
"Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-46-f87acc609a0a>, line 1)

In [48]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

### 3. 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [52]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [60]:
Life is too short
You need python

SyntaxError: invalid syntax (<ipython-input-60-a2f90990fa8c>, line 1)

### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [68]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

### 2. 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 사용하기

In [69]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [70]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

## 문자열 연산하기

### 문자열 더해서 연결하기(Concatenation)

In [75]:
head = 'Python'
tail = 'is fun!'

head + tail

'Pythonis fun!'

### 문자열 곱하기

In [77]:
a = 'python'
a * 2

'pythonpython'

### 문자열 곱하기 응용

In [81]:
# multistring.py

print("="*50)
print('My Program')
print("="*50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [83]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱과 슬라이싱

In [86]:
a = "Life is too short, You need Python"
a

'Life is too short, You need Python'

In [87]:
a = "Life is too short, You need Python"
a[3]

'e'

In [89]:
a = "Life is too short, You need Python"
a[0]
a[12]
a[-1]

'n'

In [90]:
a[-0]

'L'

In [91]:
a[-2]

'o'

In [92]:
a[-5]

'y'

### 문자열 슬라이싱이란?

In [94]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [98]:
a[0:3]
# a <= a < 3

'Lif'

In [99]:
a[0:5]

'Life '

In [100]:
a[0:2]

'Li'

In [101]:
a[5:7]

'is'

In [102]:
a[:17]

'Life is too short'

In [103]:
a[:]

'Life is too short, You need Python'

In [104]:
a[19:-7]

'You need'

### 슬라이싱으로 문자열 나누기

In [115]:
a = '20010331Rainy'
date = a[:8]
weather =a[8:]
print(date)
print(weather)

20010331
Rainy

In [116]:
a = '20010331Rainy'
year=a[:4]
day=a[4:8]
weather=a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [117]:
a = 'Pithon'
a[1]

'i'

In [118]:
a[1]='y'

TypeError: 'str' object does not support item assignment

In [122]:
a = 'Pithon'
print(a[:1])
print(a[2:])
print(a[:1]+'y'+a[2:])

P
thon
Python

## 문자열 포매팅

### 문자열 포매팅 따라 하기

### 1. 숫자 바로 대입

In [141]:
'I eat %d apples.' % 3

'I eat 3 apples.'

### 2. 문자열 바로 대입

In [136]:
"I eat %s apples." % "five"

'I eat five apples.'

### 3. 숫자 값을 나타내는 변수로 대입

In [137]:
number = 3
'I eat %d apples' % number
'I eat 3 apples.'

'I eat 3 apples.'

### 4. 2개 이상의 값 넣기

In [146]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열 포맷 코드

In [149]:
# %s              문자열(string)
# %c              문자1개(character)
# %d              정수(Integer)
# %f               부동소수(floating-point)
# %o              8진수
# %x              16진수
# %%             Literal % (문자 % 자체)

In [150]:
"i have %s apples." % 3

'i have 3 apples.'

In [151]:
'rate is %s' % 3.234

'rate is 3.234'

In [153]:
'Error is %d%.' % 98

ValueError: incomplete format

In [154]:
'Error is %d%%' % 98

'Error is 98%'

## 포맷 코드와 숫자 함께 사용하기

### 1. 정렬과 공백

In [157]:
"%10s" % 'hi'

'        hi'

In [158]:
'%-10sjane' % 'hi'

'hi        jane'

### 2. 소수점 표현하기

In [165]:
'%0.4f' % 3.42134234

'3.4213'

In [167]:
'%10.4f' % 3.42134234

'    3.4213'

## format 함수를 사용한 포매팅

In [5]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [6]:
"I eat {0} apples".format("five")

'I eat five apples'

In [8]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [9]:
number=10
day = 'three'
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [11]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [12]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [19]:
"{0:<10}".format("hi")  # :< => 왼쪽 정렬

'hi        '

In [22]:
"{0:>10}".format('hi')  # :> => 오른쪽 정렬

'        hi'

In [24]:
"{0:^10}".format("hi")        # 가운데정렬 => :^

'    hi    '

In [25]:
"{0:=^10}".format('hi')

'====hi===='

In [26]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [27]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [31]:
y=3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [32]:
"{{ and }}".format()

'{ and }'

## f 문자열 포매팅

In [38]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [39]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [40]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [45]:
print(f'{"hi":<10}')                # 왼쪽 정렬
print(f'{"hi":>10}')                # 오른쪽 정렬
print(f'{"hi":^10}')               # 가운데 정렬

hi
        hi
    hi

In [49]:
f'{"hi":=^10}'       # 가운데 정렬하고 '=' 문자로 공백 채우기
f'{"hi":!<10}'       # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [52]:
y = 3.42134234
f'{y:0.4f}'
f'{"hi":!<10}'

'hi!!!!!!!!'

In [53]:
f'{{and}}'

'{and}'

## 문자열 관련 함수들

In [65]:
a = 'hobby'
a.count('b')

2

In [66]:
a = 'Python is the best choice'
print(a.find('b'))
print(a.find('k'))              # 찾는것이 존재하지 않음

14
-1

In [69]:
a = 'Life is too short'
a.index('t')
a.index('k')

ValueError: substring not found

In [70]:
",".join('abcd')

'a,b,c,d'

In [71]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [72]:
a = "hi"
a.upper()

'HI'

In [73]:
a = "HI"
a.lower()

'hi'

In [75]:
a = "     hi"
a.lstrip()

'hi'

In [76]:
a="   hi   "
a.rstrip()

'   hi'

In [77]:
a = ' hi '
a.strip()

'hi'

In [78]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [80]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [82]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 리스트 자료형

In [5]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [15]:
a=[]
b=[1,2,3]
c=['Life','is','too','short']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]
a
b
c
d
e

[1, 2, ['Life', 'is']]

In [18]:
a=[1,2,3]
a

[1, 2, 3]

In [19]:
a[0]

1

In [20]:
a[0]+a[2]

4

In [21]:
a[-1]

3

In [27]:
a=[1,2,3,['a','b','c']]
a[0]
a[-1]
a[3]

['a', 'b', 'c']

In [28]:
a[-1][0]

'a'

In [29]:
a[-1][1]

'b'

In [30]:
a[-1][2]

'c'

### 삼중 리스트에서 인덱싱하기

In [33]:
a = [1,2,['a','b',['Life','is']]]
a[2][2][0]

'Life'

### 리스트의 슬라이싱

In [36]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [38]:
a = "12345"
a[0:2]

'12'

In [41]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]
b
c

[3, 4, 5]

In [43]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]
a[3][:2]

['a', 'b']

In [44]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [45]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [46]:
a = [1,2,3]
len(a)

3

In [52]:
a = [1,2,3]
a[2]+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
str(a[2])+"hi"

'3hi'

In [55]:
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

In [56]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [59]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [60]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [61]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [62]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [63]:
a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [67]:
a = ['a','c','b']
a.reverse()
a

# reverse 함수는 리스트를 역순으로 뒤집어 준다. 
# 이때 리스트 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라 
# 그저 현재의 리스트를 그대로 거꾸로 뒤집는다.

['b', 'c', 'a']

In [72]:
# index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려준다.

a = [1,2,3]
a.index(3)

2

In [73]:
a.index(1)

0

In [74]:
a.index(0)

ValueError: 0 is not in list

In [78]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [79]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [80]:
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [82]:
a.remove(3)
a

[1, 2, 1, 2]

In [95]:
a = [1,2,3]
a.pop()
a

[1, 2]

In [99]:
a= [1,2,3]
a.pop(1)
a

[1, 3]

In [100]:
a=[1,2,3,1]
a.count(1)

2

In [101]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [102]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형
### 튜플은 어떻게 만들까?

In [108]:
# 튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

# 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [110]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

In [112]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [113]:
t1 = (1,2,'a','b')

In [114]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [116]:
t1 = (1,2,'a','b')
t1[0]
t1[3]

'b'

In [2]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [1]:
t1 = (1,2,'a','b')
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [3]:
t2 = (3,4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [4]:
t1 = (1,2,'a','b')
len(t1)

4

## 딕셔너리 자료형
### 딕셔너리는 어떻게 만들까?

In [9]:
dic = {'name':'pey', 'phone':'01199993323','birth':'1118'}
dic

{'name': 'pey', 'phone': '01199993323', 'birth': '1118'}

In [13]:
a = {1:'hi'}
a

{1: 'hi'}

In [14]:
a = {'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [19]:
a = {1:'a'}
a
a[2]='b'
a

{1: 'a', 2: 'b'}

In [20]:
a['name']=[1,2,3]
a

{1: 'a', 2: 'b', 'name': [1, 2, 3]}

In [21]:
a[3]=[1,2,3]
a

{1: 'a', 2: 'b', 'name': [1, 2, 3], 3: [1, 2, 3]}

In [22]:
del a[1]
a

{2: 'b', 'name': [1, 2, 3], 3: [1, 2, 3]}

In [23]:
{"김연아":"피겨스케이팅", "류현진":"야구", "박지성":"축구", '귀도':'파이썬'}

{'김연아': '피겨스케이팅', '류현진': '야구', '박지성': '축구', '귀도': '파이썬'}

In [30]:
grade = {'pey':10, 'julliet':99}
grade['pey']
grade['julliet']

99

In [32]:
a = {1:'a', 2:'b'}
a[1]
a[2]

'b'

In [36]:
a = {'a':1, 'b':2}
a['a']
a['b']

2

In [39]:
dic = {'name':'pey', 'phone':'0119993323','birth':'1118'}
dic['name']
dic['phone']
dic['birth']

'1118'

In [42]:
a = {[1,2]:'hi'}
a

TypeError: unhashable type: 'list'

In [44]:
a = {(1,2):'hi'}
a

{(1, 2): 'hi'}

In [47]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.keys()
# list(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [48]:
list(a.keys())

['name', 'phone', 'birth']

In [52]:
for k in a.keys():
    print(k)

name
phone
birth

In [55]:
list(a.keys())

['name', 'phone', 'birth']

In [56]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [57]:
list(a.values())

['pey', '0119993323', '1118']

In [58]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [59]:
list(a.items())

[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]

In [61]:
a.clear()
a

{}

In [70]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.get('name')
a.get('phone')

'0119993323'

In [69]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
print(a.get('nokey'))             
print(a['nokey'])

None

KeyError: 'nokey'

In [71]:
a.get('foo', 'bar')

'bar'

In [77]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
'name' in a
'email' in a

False

In [78]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [80]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [87]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [88]:
l1[0]

1

In [89]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [90]:
t1[0]

1

In [97]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [98]:
s1 & s2

{4, 5, 6}

In [100]:
s1.intersection(s2)
s2.intersection(s1)

{4, 5, 6}

In [101]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [102]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [103]:
s1 - s2

{1, 2, 3}

In [104]:
s2 - s1

{7, 8, 9}

In [105]:
s1.difference(s2)

{1, 2, 3}

In [106]:
s2.difference(s1)

{7, 8, 9}

In [109]:
s1 = set([1,2,3])
s1.add(4) # 값 1개 추가하기(add)
s1

{1, 2, 3, 4}

In [110]:
s1 = set([1,2,3])
s1.update([4,5,6]) # 값 여러 개 추가하기(update)
s1

{1, 2, 3, 4, 5, 6}

In [111]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

## 불 자료형이란?

In [113]:
a = True
b = False

In [115]:
type(a)
type(b)

bool

In [116]:
1 == 1

True

In [117]:
2 > 1

True

In [118]:
2 < 1

False

In [119]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [121]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [122]:
if[1,2,3]:
    print('참')
else:
    print('거짓')

참

In [123]:
bool('python')

True

In [124]:
bool('')

False

In [130]:
print(bool([1,2,3]))
print(bool([]))
print(bool(0))
print(bool(3))

True
False
False
True

## 자료형의 값을 저장하는 공간, 변수

### 변수는 어떻게 만들까?

In [133]:
a = 1
b = 'python'
c = [1,2,3]

In [135]:
a= [1,2,3]
a

[1, 2, 3]

In [136]:
a = [1,2,3]
id(a)

140642407062976

In [139]:
a = [1,2,3]
b = a
b

[1, 2, 3]

In [141]:
id(a)
id(b)

140642406829104

In [142]:
a is b

True

In [143]:
a[1] = 4
a

[1, 4, 3]

In [144]:
b

[1, 4, 3]

In [147]:
a = [1,2,3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [148]:
b

[1, 2, 3]

In [149]:
from copy import copy
b = copy(a)

In [150]:
b is a

False

In [151]:
a, b = ('python', 'life')

In [152]:
(a,b)='python','life'

In [153]:
[a,b]=['python','life']

In [154]:
a = b = 'python'

In [158]:
a = 3
b = 5
a, b = b, a
a
b

3

## 연습문제

In [271]:
#Q1
score = {'국어':80, '영어':75, '수학':55}
(80 + 75 + 55)/3

70.0

In [270]:
# 해답

a = 80
b = 75
c = 55

(a+b+c)/3

70.0

In [272]:
#Q2
n = 13
n / 2

6.5

In [273]:
# 해답

13 % 2

1

In [196]:
#Q3
a = ['881120-1068234']

In [275]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [206]:
#Q4
pin = "881120-1068234"
pin[7]

'1'

In [215]:
#Q5
a = "a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [233]:
#Q6
a=[1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [241]:
#Q7
a = ['Life', 'is', 'too', 'short']

In [276]:
# 해답

a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [277]:
#Q8
t1=(1,2,3)
t1
t2= (4)
t2
t1+t2

TypeError: can only concatenate tuple (not "int") to tuple

In [278]:
# 해답

a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [259]:
# Q9

a = dict()
a

답 : 4번 -> 250번째 키가 존재하지않으므로

SyntaxError: invalid syntax (<ipython-input-259-1b032492c7fb>, line 6)

In [260]:
# Q10

a = {'A':90, 'B':80, 'C':70}

a.pop('B')

80

In [265]:
# Q11

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [281]:
aSet=set(a)
b = list(aSet)
b

[1, 2, 3, 4]

In [268]:
# Q12

a = b = [1,2,3]
a[1]=4
print(b)

이유는 번호가 같기 때문에

SyntaxError: invalid syntax (<ipython-input-268-07c7846f8fde>, line 7)