# 숫자형

In [21]:
# 정수형(integer)

a = 123
a = -178
a = 0

In [22]:
#  실수형(Floating-point)

a = 1.2
a = 3.45

In [23]:
a = 4.24E10         # 4.24 * 10**10
a = 4.24e-10       # 4.24 * 10**-10

In [24]:
# 8진수와 16진수

# 8진수(Octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)로 시작하면 된다.

a = 0o177

# 16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.

a = 0x8ff
b = 0xABC

In [25]:
# 사칙연산

a = 3
b = 4
a+b

a*b

a/b

0.75

In [26]:
# x의 y제곱을 나타내는 ** 연산자

a = 3
b = 4
a ** b

81

In [27]:
# 나눗셈 후 나머지를 반환하는 % 연산자

7 % 3
3% 7

3

In [28]:
# 나눗셈 후 몫을 반환하는 // 연산자

7 / 4

7 // 4

1

# 문자열 자료형

In [36]:
"Hello World"

'Hello World'

In [37]:
'Python is fun'

'Python is fun'

In [38]:
"""Life is too short, You need python"""

'Life is too short, You need python'

### 1. 문자열에 작은따옴표 (') 포함시키기

In [40]:
# Python's favorite food is perl

In [42]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [43]:
food = 'Python's favorite food is perl'
food

SyntaxError: invalid syntax (<ipython-input-43-505ab2258aa9>, line 1)

### 2. 문자열에 큰따옴표(")포함시키기

In [46]:
"Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-46-f87acc609a0a>, line 1)

In [48]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

### 3. 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [52]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [60]:
Life is too short
You need python

SyntaxError: invalid syntax (<ipython-input-60-a2f90990fa8c>, line 1)

### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [68]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

### 2. 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 사용하기

In [69]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [70]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

## 문자열 연산하기

### 문자열 더해서 연결하기(Concatenation)

In [75]:
head = 'Python'
tail = 'is fun!'

head + tail

'Pythonis fun!'

### 문자열 곱하기

In [77]:
a = 'python'
a * 2

'pythonpython'

### 문자열 곱하기 응용

In [81]:
# multistring.py

print("="*50)
print('My Program')
print("="*50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [83]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱과 슬라이싱

In [86]:
a = "Life is too short, You need Python"
a

'Life is too short, You need Python'

In [87]:
a = "Life is too short, You need Python"
a[3]

'e'

In [89]:
a = "Life is too short, You need Python"
a[0]
a[12]
a[-1]

'n'

In [90]:
a[-0]

'L'

In [91]:
a[-2]

'o'

In [92]:
a[-5]

'y'

### 문자열 슬라이싱이란?

In [94]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [98]:
a[0:3]
# a <= a < 3

'Lif'

In [99]:
a[0:5]

'Life '

In [100]:
a[0:2]

'Li'

In [101]:
a[5:7]

'is'

In [102]:
a[:17]

'Life is too short'

In [103]:
a[:]

'Life is too short, You need Python'

In [104]:
a[19:-7]

'You need'

### 슬라이싱으로 문자열 나누기

In [115]:
a = '20010331Rainy'
date = a[:8]
weather =a[8:]
print(date)
print(weather)

20010331
Rainy

In [116]:
a = '20010331Rainy'
year=a[:4]
day=a[4:8]
weather=a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [117]:
a = 'Pithon'
a[1]

'i'

In [118]:
a[1]='y'

TypeError: 'str' object does not support item assignment

In [122]:
a = 'Pithon'
print(a[:1])
print(a[2:])
print(a[:1]+'y'+a[2:])

P
thon
Python

## 문자열 포매팅

### 문자열 포매팅 따라 하기

### 1. 숫자 바로 대입

In [141]:
'I eat %d apples.' % 3

'I eat 3 apples.'

### 2. 문자열 바로 대입

In [136]:
"I eat %s apples." % "five"

'I eat five apples.'

### 3. 숫자 값을 나타내는 변수로 대입

In [137]:
number = 3
'I eat %d apples' % number
'I eat 3 apples.'

'I eat 3 apples.'

### 4. 2개 이상의 값 넣기

In [146]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열 포맷 코드

In [149]:
# %s              문자열(string)
# %c              문자1개(character)
# %d              정수(Integer)
# %f               부동소수(floating-point)
# %o              8진수
# %x              16진수
# %%             Literal % (문자 % 자체)

In [150]:
"i have %s apples." % 3

'i have 3 apples.'

In [151]:
'rate is %s' % 3.234

'rate is 3.234'

In [153]:
'Error is %d%.' % 98

ValueError: incomplete format

In [154]:
'Error is %d%%' % 98

'Error is 98%'

## 포맷 코드와 숫자 함께 사용하기

### 1. 정렬과 공백

In [157]:
"%10s" % 'hi'

'        hi'

In [158]:
'%-10sjane' % 'hi'

'hi        jane'

### 2. 소수점 표현하기

In [165]:
'%0.4f' % 3.42134234

'3.4213'

In [167]:
'%10.4f' % 3.42134234

'    3.4213'

## format 함수를 사용한 포매팅

In [5]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [6]:
"I eat {0} apples".format("five")

'I eat five apples'

In [8]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [9]:
number=10
day = 'three'
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [11]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [12]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [19]:
"{0:<10}".format("hi")  # :< => 왼쪽 정렬

'hi        '

In [22]:
"{0:>10}".format('hi')  # :> => 오른쪽 정렬

'        hi'

In [24]:
"{0:^10}".format("hi")        # 가운데정렬 => :^

'    hi    '

In [25]:
"{0:=^10}".format('hi')

'====hi===='

In [26]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [27]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [31]:
y=3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [32]:
"{{ and }}".format()

'{ and }'

## f 문자열 포매팅

In [38]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [39]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [40]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [45]:
print(f'{"hi":<10}')                # 왼쪽 정렬
print(f'{"hi":>10}')                # 오른쪽 정렬
print(f'{"hi":^10}')               # 가운데 정렬

hi
        hi
    hi

In [49]:
f'{"hi":=^10}'       # 가운데 정렬하고 '=' 문자로 공백 채우기
f'{"hi":!<10}'       # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [52]:
y = 3.42134234
f'{y:0.4f}'
f'{"hi":!<10}'

'hi!!!!!!!!'

In [53]:
f'{{and}}'

'{and}'

## 문자열 관련 함수들

In [65]:
a = 'hobby'
a.count('b')

2

In [66]:
a = 'Python is the best choice'
print(a.find('b'))
print(a.find('k'))              # 찾는것이 존재하지 않음

14
-1

In [69]:
a = 'Life is too short'
a.index('t')
a.index('k')

ValueError: substring not found

In [70]:
",".join('abcd')

'a,b,c,d'

In [71]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [72]:
a = "hi"
a.upper()

'HI'

In [73]:
a = "HI"
a.lower()

'hi'

In [75]:
a = "     hi"
a.lstrip()

'hi'

In [76]:
a="   hi   "
a.rstrip()

'   hi'

In [77]:
a = ' hi '
a.strip()

'hi'

In [78]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [80]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [82]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 리스트 자료형

In [5]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [15]:
a=[]
b=[1,2,3]
c=['Life','is','too','short']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]
a
b
c
d
e

[1, 2, ['Life', 'is']]

In [18]:
a=[1,2,3]
a

[1, 2, 3]

In [19]:
a[0]

1

In [20]:
a[0]+a[2]

4

In [21]:
a[-1]

3

In [27]:
a=[1,2,3,['a','b','c']]
a[0]
a[-1]
a[3]

['a', 'b', 'c']

In [28]:
a[-1][0]

'a'

In [29]:
a[-1][1]

'b'

In [30]:
a[-1][2]

'c'

### 삼중 리스트에서 인덱싱하기

In [33]:
a = [1,2,['a','b',['Life','is']]]
a[2][2][0]

'Life'

### 리스트의 슬라이싱

In [36]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [38]:
a = "12345"
a[0:2]

'12'

In [41]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]
b
c

[3, 4, 5]

In [43]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]
a[3][:2]

['a', 'b']

In [44]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [45]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [46]:
a = [1,2,3]
len(a)

3

In [52]:
a = [1,2,3]
a[2]+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
str(a[2])+"hi"

'3hi'

In [55]:
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

In [56]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [59]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [60]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [61]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [62]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [63]:
a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [67]:
a = ['a','c','b']
a.reverse()
a

# reverse 함수는 리스트를 역순으로 뒤집어 준다. 
# 이때 리스트 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라 
# 그저 현재의 리스트를 그대로 거꾸로 뒤집는다.

['b', 'c', 'a']

In [72]:
# index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려준다.

a = [1,2,3]
a.index(3)

2

In [73]:
a.index(1)

0

In [74]:
a.index(0)

ValueError: 0 is not in list

In [78]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [79]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [80]:
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [82]:
a.remove(3)
a

[1, 2, 1, 2]

In [95]:
a = [1,2,3]
a.pop()
a

[1, 2]

In [99]:
a= [1,2,3]
a.pop(1)
a

[1, 3]

In [100]:
a=[1,2,3,1]
a.count(1)

2

In [101]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [102]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형
### 튜플은 어떻게 만들까?

In [108]:
# 튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

# 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [110]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

In [112]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [113]:
t1 = (1,2,'a','b')

In [114]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [116]:
t1 = (1,2,'a','b')
t1[0]
t1[3]

'b'